<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - SeniJuni</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body style="padding: 0; ">
    <nav class="navbar navbar-expand-lg navbar-light bg-light ">
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor03" aria-controls="navbarColor03" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        @if (Session["Student_Email"] != null)
        {
            <a href='@Url.Action("Index", "Member")'>
                <img style="height: 150px; width: 150px; display: block;" src="~/Content/bgImage/logo.png" class="spells " alt="Card image">
            </a>
            <!--
        @Html.ActionLink("SeniJuni", "Index", "Member", new { area = "" }, new { @class = "navbar-brand" })
            -->
        }
        else if (Session["Company_Email"] != null)
        {
            <a href='@Url.Action("Index", "Company")'>
                <img style="height: 150px; width: 150px; display: block;" src="~/Content/bgImage/logo.png" class="spells " alt="Card image">
            </a>
        }
        else
        {
            <a href='@Url.Action("Index", "Home")'>
                <img style="height: 100px; width: 100px; display: block;" src="~/Content/bgImage/logo.png" class="spells zoom " alt="Card image">
            </a>
        }
        <div class="collapse navbar-collapse" id="navbarColor03">
            @if (Session["Student_Email"] != null)
            {

                <ul class="navbar-nav mr-auto">
                    <li class="nav-item">
                        <a class="nav-link"></a>
                    </li>
                    <li class="nav-item active">
                        <a class="nav-link">@Html.ActionLink("Ana Sayfa", "Index", "Member")<span class="sr-only">(current)</span></a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link">@Html.ActionLink("Staj ara", "ViewModels", "Member")</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link">@Html.ActionLink("Hakkımızda", "About", "Member")</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link">@Html.ActionLink("İletişim", "Contact", "Member")</a>
                    </li>

                    @using (Html.BeginForm("Ara", "Member"))
                    {
                        @Html.AntiForgeryToken()
                        <li class="nav-item">
                            <a class="form-inline my-2 my-lg-0" style="display:inline;">
                                <input class="form-control mr-sm-2" type="text" placeholder="Search" name="tag">
                                <button class="btn btn-secondary my-2 my-sm-0" type="submit">Search</button>
                            </a>
                        </li>
                    }
                </ul>
                <ul class="navbar-nav mr-auto navbar-right">
                    <li class="nav-item">
                        <form class="form-inline my-2 my-lg-0">
                            <button class="btn btn-secondary my-2 my-sm-0">@Html.ActionLink("Hi! " + Session["Student_Email"].ToString(), "Index", "Member")</button>
                        </form>
                    </li>
                    <li class="nav-item">
                        <form class="form-inline my-2 my-lg-0">
                            <button class="btn btn-outline-danger">@Html.ActionLink("Log off", "LogOff", "Member")</button>
                        </form>
                    </li>

                </ul>

            }
            else if (Session["Company_Email"] != null)
            {
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item">
                        <a class="nav-link"></a>
                    </li>
                    <li class="nav-item active">
                        <a class="nav-link">@Html.ActionLink("Ana Sayfa", "Index", "Company")<span class="sr-only">(current)</span></a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link">@Html.ActionLink("Staj ekle", "AddAct", "Company")</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link">@Html.ActionLink("Adaylar", "ShowCanditate", "Company")</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link">@Html.ActionLink("Hakımızda", "About", "Company")</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link">@Html.ActionLink("İletişim", "Contact", "Company")</a>
                    </li>
                    @using (Html.BeginForm("Ara", "Company"))
                    {
                        @Html.AntiForgeryToken()
                        <li class="nav-item">
                            <a class="form-inline my-2 my-lg-0" style="display:inline;">
                                <input class="form-control mr-sm-2" type="text" placeholder="Search" name="tag">
                                <button class="btn btn-secondary my-2 my-sm-0" type="submit">Search</button>
                            </a>
                        </li>
                    }
                </ul>
                <ul class="navbar-nav mr-auto navbar-right">
                    <li class="nav-item">
                        <form class="form-inline my-2 my-lg-0">
                            <button class="btn btn-secondary my-2 my-sm-0">@Html.ActionLink("Merhaba! " + Session["Company_Email"].ToString(), "Index", "Member")</button>
                        </form>
                    </li>
                    <li class="nav-item">
                        <form class="form-inline my-2 my-lg-0">
                            <button class="btn btn-outline-danger">@Html.ActionLink("Çıkış yap", "LogOff", "Company")</button>
                        </form>
                    </li>

                </ul>
            }
            else
            {
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item">
                        <a class="nav-link"></a>
                    </li>
                    <li class="nav-item active">
                        <a class="nav-link">@Html.ActionLink("Ana Sayfa", "Index", "Home")<span class="sr-only">(current)</span></a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link">@Html.ActionLink("Giriş yap", "SignIn", "Home")</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link">@Html.ActionLink("Üye ol", "SignUp", "Home")</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link">@Html.ActionLink("SeniJuni girişi", "SignInCompany", "Home")</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link">@Html.ActionLink("SeniJuni üyeliği", "SignUpCompany", "Home")</a>
                    </li>
                    @using (Html.BeginForm("Ara", "Home"))
                    {
                        @Html.AntiForgeryToken()
                        <li class="nav-item">
                            <a class="form-inline my-2 my-lg-0" style="display:inline;">
                                <input class="form-control mr-sm-2" type="text" placeholder="Ara" name="tag">
                                <button class="btn btn-secondary my-2 my-sm-0" type="submit">Ara</button>
                            </a>
                        </li>
                    }
                </ul>
            }


        </div>
    </nav>
        <div class="container body-content" style="padding-top: 50px;">
            @RenderBody()
            <hr />
            <footer>
                <p>&copy; @DateTime.Now.Year - SeniJuni</p>
            </footer>
        </div>

        @Scripts.Render("~/bundles/jquery")
        @Scripts.Render("~/bundles/bootstrap")
        @RenderSection("scripts", required: false)

</body>
</html>
