<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My ASP.NET Application</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @if (Session["Student_Email"] != null)
                {
                    @Html.ActionLink("SeniJuni", "Index", "Member", new { area = "" }, new { @class = "navbar-brand" })
                }
                else if (Session["Company_Email"] != null)
                {
                    @Html.ActionLink("SeniJuni", "Index", "Company", new { area = "" }, new { @class = "navbar-brand" })
                }
                else
                {
                    @Html.ActionLink("SeniJuni", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
                }
            </div>
            <div class="navbar-collapse collapse">
                @if (Session["Student_Email"] != null)
                {
                    <ul class="nav navbar-nav">
                        <li>@Html.ActionLink("Home", "Index", "Member")</li>
                        <li>@Html.ActionLink("About", "About", "Member")</li>
                        <li>@Html.ActionLink("Contact", "Contact", "Member")</li>
                        <li>@Html.ActionLink("Çıkış yap", "", "Member")</li>
                    </ul>
                }
                else if (Session["Company_Email"] != null)
                {
            <ul class="nav navbar-nav">
                <li>@Html.ActionLink("Home", "Index", "Company")</li>
                <li>@Html.ActionLink("Staj ekle", "CreateStaj", "Company")</li>
                <li>@Html.ActionLink("About", "About", "Company")</li>
                <li>@Html.ActionLink("Contact", "Contact", "Company")</li>
                <li>@Html.ActionLink("Çıkış yap", "", "Member")</li>
            </ul>
                }
                else
                {
            <ul class="nav navbar-nav">
                <li>@Html.ActionLink("Home", "Index", "Home")</li>
                <li>@Html.ActionLink("About", "About", "Home")</li>
                <li>@Html.ActionLink("Contact", "Contact", "Home")</li>
                <li>@Html.ActionLink("Üye ol", "SignUp", "Home")</li>
                <li>@Html.ActionLink("Giriş yap", "SignIn", "Home")</li>
                <li>@Html.ActionLink("Firma üyeliği", "SignUpCompany", "Home")</li>
                <li>@Html.ActionLink("Firma girişi", "SignInCompany", "Home")</li>
            </ul>
                }


            </div>
        </div>
    </div>
    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - My ASP.NET Application</p>
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
