@model IEnumerable<peroxiteam.Models.Act>


@foreach (var item in Model)
{
    <table class="table" style="max-width: 300px; display: inline;">
        <tr>
            <td>
                <div class="card mb-3" style="width: 300px; height:700px">
                    <h4 class="card-header">@Html.DisplayFor(modelItem => item.Name)</h4>
                    <div class="card-body">
                        <h6 class="card-subtitle text-muted">@Html.DisplayFor(modelItem => item.Type)</h6>
                    </div>
                    <div class="">
                        <a href='@Url.Action("ViewSpecificModel", "Home", new { id = item.Name })'>
                            <img style="height: 300px; width: 300px; display: block;" src="https://www.gwhsllc.com/wp-content/uploads/2019/01/bigstock-Young-Smiling-Business-People-255901510.jpg" class="spells zoom " alt="Card image">
                        </a>
                    </div>
                    <div class="card-body">
                        <p class="card-text">@Html.DisplayFor(modelItem => item.Description)</p>
                    </div>
                    <ul class="list-group list-group-flush">
                        <li class="list-group-item">@Html.DisplayNameFor(model => model.Category) : @Html.DisplayFor(modelItem => item.Category)</li>
                        <li class="list-group-item">@Html.DisplayNameFor(model => model.Description) : @Html.DisplayFor(modelItem => item.Description)</li>
                    </ul>
                    <div class="card-body">
                        <a class="card-link"> @Html.ActionLink("Details", "ViewSpecificModel", new { id = item.Id })</a>
                    </div>
                </div>
            </td>
        </tr>
    </table>
}

<!--
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Type)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Category)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Description)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Comments)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Type)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Category)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Description)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Comments)
            </td>
        </tr>
    }

</table>
    -->
