@model peroxiteam.Models.LogIn

@{
    ViewBag.Title = "Giriş yap";
}

<h2>Giriş yap</h2>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="form-group">
            @Html.LabelFor(model => model.UniversityMail, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.UniversityMail, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.UniversityMail, "", new { @class = "text-danger", id = "LogEr1" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Password, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Password, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Password, "", new { @class = "text-danger", id = "LogEr1" })
                <span id="LogEr2" class="text-danger">@ViewBag.Message</span>
                @if (ViewBag.Message != null)
                {
                    <script type="text/javascript">
                        setTimeout(function () { $("#LogEr2").fadeOut(); }, 3000);
                    </script>
                }
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Giriş yap" class="btn btn-secondary my-2 my-sm-0" />

            </div>
        </div>
    </div>
}

